/* GLOBAL STYLES
-------------------------------------------------- */
@font-face {
	font-family: 'Avenir';
	src: url('../fonts/avenirltstd-book.eot');
	src: url('../font/avenirltstd-book.eot#iefix') format('embedded-opentype'), 
       	 url('../font/avenirltstd-book.woff2') format('woff2'),  
         url('../font/avenirltstd-book.woff') format('woff'),  
         url('../font/avenirltstd-book.ttf') format('truetype');
}
@font-face {
	font-family: 'Chronicle Display';
	src: url('../fonts/chronicledisplay-semi.eot');
	src: url('../fonts/chronicledisplay-semi.eot#iefix') format('embedded-opentype'),  url('../fonts/chronicledisplay-semi.woff') format('woff'),  url('../fonts/chronicledisplay-semi.ttf') format('truetype'),
}

body {
	padding-bottom: 40px;
	color: #333333;
	line-height: 1.7;
	overflow-x: hidden;
	background-color: #fff;
	font-family: "Avenir", "Open-sans", sans-serif;
	/* [disabled]font-family: arial; */
}
h3 ,h3 a{
	font-family: "Avenir", "Open-sans", sans-serif;
	font-weight: normal;
	font-size: 32px;
	color: #621a4b;
	line-height: 1.2;
}

.top-copy{
   width: 100%;
  color: #666;
  font-weight: 400;
  margin-top: 12px;
  float: left;
  text-align: left;
  font-size: 13px;
}
.benefits h3 {margin-bottom: 30px;}
p {
	font-size: 18px;
	font-family: "Avenir", "Open-sans", sans-serif;
}
.clear {
	clear: both;
}
a:hover {
	opacity: 0.8;
	text-decoration: none;
}
a.link {
	font-size: 20px;
	font-family: "Avenir", "Open-sans", sans-serif;
	font-weight: 300;
	color: #621A4B;
}
a.underline {
	border-bottom: 1px solid #621A4B;
}
small, small p {
	font-size: 11px;
	line-height: 1.4;
}
ul, ul > li {
	font-size: 18px;
	margin-left: 0;
	padding-left: 0;
}
ul {
	margin-left: 20px;
}
.content {
	padding-top: 65px;
}
hr {
	border-color: #dddddd;
}
.circleBg {
	opacity: 0.902;
	border-radius: 285px;
	/*background-color: #FFFFFF;*/
	width: 570px;
	height: 570px;
	filter: alpha(opacity=902); /* For IE8 and earlier */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=902)";
	behavior: url(js/PIE.htc);
}
.center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.noContactShow {
	display: none !important;
}
body.noContactInfo .noContactShow {
	display: block !important;
}
body.noContactInfo .noContactHide {
	display: none !important;
}
body.noContactInfo #sideApplyNowBtn {
	display: inline-block;
	width: 60%;
}
body.noContactInfo #promoContent .row-fluid .colCenter {
	position: inherit;
	min-height: 550px;
}
body.noContactInfo #promoContent { /*padding-bottom: 110px;*/
	padding-bottom: 30px;
}
body.noContactInfo #promoContent .colCenter .logo {
	right: 30px;
	bottom: 35px;
}
.under-line{
	text-decoration: underline;
}
/*.carousel-control{
	width: 50px;
	height: 100px;
	position: absolute;
	top: 342px;
}
.carousel-control.left{
	left: 0;
	background: url(../img/arrows.png) left top no-repeat transparent;
}
.carousel-control.right{
	right: 0;
	background: url(../img/arrows.png) right top no-repeat transparent;
}*/
/* NAVBAR
-------------------------------------------------- */

.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 55px;
	z-index: 20;
}
.navbar-wrapper .navbar {
	padding-top: 15px;
	background-color:#ececec;
	background: rgba(255, 255, 255, 0.5);	
	padding-top:0\9;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}
.navbar-wrapper .navbar .container {
	width: auto;
}

/* CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	padding: 80px 0;
	background: #e5e5e5;
	background: url(../img/benefits-bg.jpg) repeat-x top;
	height: 770px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption, .container {
	z-index: 10;
	position: relative;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 100%;
}
.carousel-inner > .item .content {
	padding-top: 0;
}
.carousel-control {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 50px;
	color: #fff;
	overflow: hidden;
	height: 100px;
	z-index: 20;
}
.carousel-control.left {
}
.carousel-control.right {
	right: 0px;
	left: auto;
}
.carousel-control.right img {
	margin-left: -60px;
}
.carousel-control:hover img, .carousel-control:focus img {
	margin-top: -100px;
}
.carousel-indicators {
	z-index: 0;
}

/* MARKETING CONTENT
-------------------------------------------------- */

.down-arrow {
	background-image: url(../img/down-arrow.png);
	opacity: 0.902;
	width: 100px;
	height: 50px;
	position: absolute;
	top: -50px;
	left: 0;
	right: 0;
	margin: auto;
}
.down-arrow a{ display:block; height:50px; width: 100px;}
.down-arrow:hover {
	background-image: url("../img/down-arrow.png");
	opacity: 1;
}
.logo_mobile {margin:0 auto}
.showMobile {display:none}
.hideMobile {display:block}
@media screen and (max-width: 768px) {
.down-arrow { display:block}
.logo_pc { display:none}
.logo_mobile { display:block}
}
/**/
.bg {
	position: absolute;
	left: 0;
	min-width: 100%;
	max-width: initial;
	height: 770px;
}
#apply .bg {
	top: 0;
	height: 900px;
}
#apply {
	position: relative;
	overflow: hidden;
}
.copy {
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	margin: auto;
}
.copy h3 {
	margin-bottom: 20px;
}
.copy p {
	padding-bottom: 10px;
}
.down-button{
	position: absolute;
	bottom: 0;
	margin: 0 auto;
}
#apply .container{height: 100%;}
#apply .container img.img-responsive {
	width: auto !important;
}
.apply1{
	height: 666px;
	background: url(../img/apply1-bg.jpg) left bottom repeat-x #d9d9d9;

}
.apply1 .headphone{
	  position: absolute;
	  right: 0;
	  top: 110px;
}
.apply-bar{
	margin-top: 30px;
}
.apply-bar img{
	float: left;
}
.card{margin: 170px 0 20px;display: block;}
.apply2{
	height: 198px;
	background: url(../img/apply2-bg.jpg) left bottom repeat-x #eaebea;
 }
.apply2 .coffee{
	position: absolute;
	bottom: 0;
	right: 134px;
}
.benefits {
	padding: 90px 0 100px;
	background: url(../img/benefits-bg.jpg) left bottom repeat-x #f8f7f5;
	position: relative;
}
.benefits .col-lg-6 {
	margin-top: 65px;
}
.benefits .cc {
	width: 320px !important;
}
.benefits .circleBg {
	margin: auto;
	width: 100%;
	height: auto;
	max-width: 570px;
}
.benefits .col-lg-6 {
	height: 570px;
}
.benefits .cardDisclaimer {
	font-size: 11px;
	position: relative;
	top: 170px;
	padding-right: 20px;
}
#calculator {
	background: url('../img/panel03_bg.jpg') 50% 50%;
	background-size: cover;
}
#calculator, #calculator .content-wrap {
	height: 770px;
	position: relative;
}
#calculator .center {
	height: 600px;
}
#calculator #calculatorWrap {
	height: 550px;
}
#calculatorWrap h3 {
	font-size: 30px;
	color: #621A4B;
}
#calculatorWrap h4 {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4;
	margin-bottom: 20px;
}
#calculatorWrap p {
	font-size: 14px;
	color: #58595B;
	line-height: 1.4;
	margin-bottom: 10px;
}
#calculatorWrap a {
	font-size: 11px;
	font-family: "Arial";
	color: #641D4B;
	text-decoration: underline;
	line-height: 1.818;
}
#calculatorWrap #currentBalance {
	margin-bottom: 20px;
}
#calculatorWrap #interestRate {
	margin-bottom: 30px;
}
#calculatorWrap .dollorSign {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	font-size: 30px;
	font-family: "Avenir", "Open-sans", sans-serif;
}

#calculatorWrap #resultTotal .dollorSign {
	font-size: 33px;
}

#calculatorWrap .panelWrap {
	display: inline-block;
	padding-top: 6px;
	width: 178px;
	background: #ffffff;
	border: 1px solid #ccc;
}
#calculatorWrap input {
	max-width: 156px;
	border: none;
	text-align: center;
	font-size: 28px;
	font-family: "Avenir", "Open-sans", sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1;
}
#calculatorWrap #currentBalance, #calculatorWrap #interestRate { /*border-right: 1px solid #ccc;*/
}
#calculatorWrap #currentBalance .panelWrap {
	position: relative;
}
#calculatorWrap #currentBalance input {
	position: relative;
	z-index: 100;
	background-color: transparent;
}
#calculatorWrap #fakeLayer {
	position: absolute;
	top: 10px;
	left: 4px;
	color: #fff;
	padding: 0;
	width: 100%;
	max-width: 156px;
	font-size: 19px;
	border-radius: 4px;
	text-align: center;
	font-family: "Avenir", "Open-sans", sans-serif;
	z-index: 50;
	line-height: 1;
}
#calculatorWrap #fakeLayer .dollorSign {
	color: #555;
	margin-right: 37px;
	vertical-align: middle;
}
#calculatorWrap #resultTotal {
	margin: 0 3px 3px;
	height: 53px;
	font-size: 33px;
	line-height: 53px;
	vertical-align: middle;
	letter-spacing: 0px;
	font-family: "Avenir", "Open-sans", sans-serif;
}
#calculatorWrap .icon {
	display: inline-block;
	width: 138px;
	text-align: left;
	line-height: 1.2em;
}
.sliderWrap {
	display: inline-block;
	clear: both;
	width: 168px;
	height: 20px;
	display: none;
}
.slider-track {
	display: block;
	width: 168px;
	height: 20px;
	background: url(../images/slider-track-body.png) no-repeat 0 0;
	position: absolute;
}
.ui-slider {
	margin: 0;
	left: 2px;
	width: 154px;
}
.ui-slider-horizontal {
	height: 20px !important;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -2px !important;
	width: 30px !important;
	height: 30px !important;
	background: url(../images/slider-knob.png) no-repeat 0 0;
}
#resultTotal {
	color: #621A4B;
}
.applyNow {
	background: #d62e1d;
	width: 190px;
	height: 43px;
	padding: 8px;
	text-align: center;
	border-radius: 6px;
	outline: none;
	border: 0px;
	margin: 0 auto;
}

/*18-06-2015*/
.middle-element
{
	width: 295px;
	margin: 0 auto;
	outline:0;
	height: 43px;

}

.middle-element img{
	float: right;
}
.applyBottom {
  width: 150px;
  float: left;
  font-size: 16px;
}

.applyBottom a:hover{
	text-decoration: none;
}

footer .applyNow a, footer .applyNow a:visited, footer .applyNow a:active, .applyNow a {
	color: #ffffff;
	display: block;
	width: 100%;
	height: 100%;
}
footer .applyNow a:hover {
	color: #ffffff;
}


/* Responsive Carousel styles */
#carousel .carouselImage {
	float: right;
}
#carousel .carouselImage img {
	margin: 0 auto;
	display: block;
}
#carousel .content {
	float: left;
	padding-top: 250px;
}
.noCarousel .item {
	display: block;
	float: none;
}
.noCarousel .carousel-indicators {
	display: none;
}
.noCarousel .carousel-inner > .item .content {
	padding-top: 10px;
}
.carousel .item img {
	width: 570px;
}

/* -------- AFFILIATE
				----------*/
.aff-logo {
	display: none
}
.ccf-logo {
	display: inline-block;
	width: 133px;
	height: 58px;
	background: url('../images/ccf-logo.png') repeat-x 0 0;
}
.cw-logo {
	display: inline-block;
	width: 241px;
	height: 36px;
	background: url('../images/cw-logo.png') repeat-x 0 0;
}
.ccc-logo {
	display: inline-block;
	width: 273px;
	height: 26px;
	background: url('../images/ccc-logo.png') repeat-x 0 0;
}
.rc-logo {
	display: inline-block;
	width: 167px;
	height: 42px;
	background: url('../images/rc-logo.png') repeat-x 0 0;
}
.ic-logo {
	display: inline-block;
	width: 150px;
	height: 39px;
	background: url('../images/ic-logo.png') repeat-x 0 0;
}
#partners .noAffiliate {
	display: block;
}
#partners .affiliate {
	display: none;
}
#disclaimer .noAffiliate {
	display: none;
}
#disclaimer .affiliate {
	display: block;
	float: right;
}
#disclaimer .affiliate span {
	float: left;
}

footer > #footerCTA {
	background-image: url(../img/panel04_bg.jpg);
	background-size: cover;
	padding: 60px 0 40px;
}
footer .icons a:hover {
	text-decoration: none;
}
#disclaimer a, #disclaimer a:visited, #disclaimer a:active {
	color: #585b5e;
}
footer a:hover {
	color: #868b8f;
	text-decoration: underline;
}
footer ul, footer ul > li {
	font-size: 11px;
}
.apply-wrapper {
	width: 100%;
	position: relative;
	z-index: 500;
}
.stuck {
	background: #ffffff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px;
	filter: alpha(opacity=902); /* For IE8 and earlier */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=902)";
	behavior: url(js/PIE.htc);
}
footer #partners {
	padding-top: 40px;
	padding-bottom: 10px;
	border-bottom: 0px;
}
footer .social > span {
	font-size: 14px;
	font-family: "Chronicle Display";
	color: #545454;
	padding-right: 3px;
}
footer .social > a {
	padding-left: 5px;
}
.social span {
	float: left;
}
.social ul {
	margin: -10px 10px 0;
	width: 100px;
	display: block;
	float: left;
}
.social ul li {
	font-size: 11px;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0 4px 0 0;
	line-height: 1;
	vertical-align: top
}
.social ul li img {
	padding: 10px 0;
}
.logoFooter {
	border-bottom: 1px solid #ccc;
}

.benefits li{
	margin-bottom: 10px;
}
#section5{
	background-color: #ffffff;
	padding-bottom: 40px;
	border-bottom: 1px solid #dddddd;
}
#section5 .container{
	text-align: center;
}
#section5 .apply-bar{
	margin: 50px auto;
	display: inline-block;
}
.info-bar li{
	display: inline-block;
	list-style: none;
}
.info-bar li.gutter{
	margin-right: 110px;
}
.info-bar li p{
	font-size: 15px;
	margin: 0;
}
.info-bar li h3,
.info-bar li h3 a{
	font-size: 20px;
	margin: 0;
}
.info-bar li h3 a{
	text-decoration: underline;
	color: 
}
.info-bar li span{
	display: inline-block;
	margin-bottom: 10px;
}
.info-bar .call{
	width: 24px;
	height: 24px;
	background: url(../img/icons-sprite.gif) left bottom no-repeat transparent;
}
.info-bar .visit{
	width: 22px;
	height: 25px;
	background: url(../img/icons-sprite.gif) -37px -26px no-repeat transparent;
}
.social-bar a{
	margin-left: 12px;
}
.checksizes2{font-size:18px; color:#333333; font-family:"Avenir","Open-sans",sans-serif;line-height: 1.4;}
/* MEDIA QUERIES
-------------------------------------------------- */

@media (max-width: 992px) {
	.info-bar li.gutter{
		margin-right: 20px;
	}
	#apply .copy {
		bottom: 70px;
	}
	#apply .copy p {
		font-size: 16px;
	}
	.apply1{
		height: 556px;
	}
	.apply2{
		height: 140px;
	}
	.apply2 .coffee{
		display: none;
	}

	.applyBottom {
  	width: 140px;}
	/*.benefits {
		padding: 60px 0;
	}*/
	.benefits{
		padding:40px 0;
	}
	.benefits .cardDisclaimer {
		top: 30px;
	}
	.benefits .cc {
		width: 270px !important;
	}
	
	.content {
		padding-top: 35px;
	}
	
	.showMobile {display:none}
	.hideMobile {display:block}

	.carousel {
		height: 980px;
	}
	#carousel .content {
		float: left;
		padding-top: 0;
	}
	.content {
		padding-top: 35px;
	}
	#carousel {
		height: 630px;
	}
	#carousel .carouselImage img {
		margin: 0 auto;
		display: block;
	}
	#carousel .content {
		margin-top: 0;
	}
	.carousel-inner > .item .content {
		padding-top: 100px
	}
}
 @media (max-width: 768px) {
/*	 .carousel-control{
	 	top: 455px;
	 }*/
	 html,body{
	 	width: 100%;
	 	overflow-x:hidden;
	 }
	 .follow-us{
	 	margin-bottom: 20px;
	 }
	 .benefits .col-lg-6 {
		margin-top:15px
	}
	.thirdbox {
		padding:0 30px
	}
	 .showMobile {display:block}
	 .hideMobile {display:none}
	 .applyNow {
		 width: 129px;
	 }


	#carousel {
		height: auto;
	}
	#carousel .content {
		margin-top: 0;
		float: left;
		padding-top: 0;
	}

	.content {
		padding-top: 310px;
	}

	.carousel {
		/*background-image: none;*/
		background: #f7f5f3;
		padding: 20px 0;
	}

	.carousel .item img {
		width: 455px;
	}
	#carousel .item {
		padding: 20px 0 20px;
		/*border-bottom: 1px solid #ccc;*/
	}
	#carousel .item:last-child {
		border: none;
	}
	.carousel-control {
		display: none;
	}

	#disclaimer .social {
		float: left;
	}
	#disclaimer .social ul {
		float: left;
		margin-top: -10px;
		margin-left: 10px;
	}
	.social span, .social ul {
		float: none;
	}
	.social ul {
		margin: 0 auto;
		width: 100px;
		display: block
	}
	.social ul li {
		font-size: 11px;
		float: left;
		list-style: none;
		padding: 0;
		margin: 0 4px 0 0;
		line-height: 1;
		vertical-align: top
	}
	h3 {
		font-size: 20px;
	}
	.navbar-wrapper .navbar {
		background: rgba(255, 255, 255, 0.5);
	}
	#apply .container img.img-responsive {
		width: 380px !important;
	}
	/*.circleBg {
		width: 295px;
		height: 295px;
		position: absolute;
		top: 15px;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
	}*/
	#footerCTA p {
		font-size: 16px;
		margin: 0;
	}
	.icons img {
		display: none;
	}
	footer > #footerCTA {
		padding: 40px 0 40px;
	}
	.benefits .cardDisclaimer {
		top: 30px;
		text-align: left;
		padding-left: 20px;
	}
	#apply > .bg {
		max-width: 100%;
		height: 100%;
	}
	.cc {
		width: 227px;
	}
	
	#calculator {
		height: 660px;
		overflow: hidden;
	}
	#calculator .content-wrap {
		height: 660px;
	}
	.bg {
		height: 660px;
		width: 100%;
	}
	#calculator .circleBg {
		width: 455px;
		height: 455px;
	}
	#calculator #calculatorWrap {
		height: 575px;
	}
	#calculatorWrap h3 {
		font-size: 20px;
	}
	#calculatorWrap h4, #calculatorWrap p {
		font-size: 13px;
		line-height: 1.4;
	}
	#calculatorWrap p {
		margin-bottom: 0;
	}
	#calculatorWrap a {
		font-size: 10px;
	}
	#calculatorWrap #resultTotal {
		font-size: 26px;
	}
	#calculatorWrap #interestRate, #calculatorWrap #interestRate {
		margin-bottom: 15px;
	}
	#calculatorWrap #currentBalance input {
		padding-left: 15px;
	}
	#calculatorWrap .panelWrap {
		margin-top: 5px;
	}
	#calculatorWrap #fakeLayer .dollorSign {
		margin-right: 15px;
		margin-top: 3px;
	}
	#fakeLayer {
		top: 5px;
		left: 17px;
		font-size: 22px;
	}
	input, textarea {
		padding-top: 5px;
		font-size: 22px;
		width: 100px;
		height: 42px;
	}
	#calculatorWrap #resultTotal .dollorSign {
		font-size: 26px;
	}
	.stuck {
		background: rgba(255,255,255,0.5);
		padding: 10px;
	}
	.desktop {
		position: relative;
	}
	
	p, ul, ul li, li {
		font-size: 15px;
	}
	
	/*.benefits .circleBg {
		width: 190px;
		height: 190px;
		width:90%		
	}*/
	.content {
		/*padding-top: 50px;*/
		padding-top: 0;
	}
	#apply .container > .img-responsive {
		width: 350px;
		max-width: 100%;
	}
	#apply .copy {
		bottom: 110px;
		position: relative;
		z-index: 2;
	}
	#apply .copy p {
		font-size: 14px;
		line-height: 1.6;
	}
	#apply .applyNow {
		display: none;
	}
	.cc {
		width: 110px;
	}
	/*.benefits .col-lg-6 {
		height: 215px;
		height:auto;
		margin-top: 0;
	}*/
	#calculator .circleBg {
		width: 455px;
		height: 455px;
		left: 50%;
		margin-left: -228px;
	}
	.benefits .cc {
		width: 130px !important;
		padding-top: 14px;
	}

	
	
	#partners .social {
		width: 130px;
		margin: 20px auto 0;
		;
	}
	.mobile-logo {
		width: 200px;
	}
	.apply1{
		height: auto;
		text-align: center;
	}
	.apply1 .headphone{
		position: initial;
		top: initial;
		right: initial;
		margin: 80px auto 0;
	}
	.apply2{
		height: auto;
		text-align: center;
	}
	.apply-content{
		margin-top: 45px;
	}
	.apply2 .apply-bar img{
		float: none;
		display: block;
	}
	.apply2 .apply-bar{
		float: left;
		width: 50%;
		margin-bottom: 30px;
	}
	.apply2 .card{
		margin: 30px 0 0 20px;
		float: left;
		width: 35%;
	}
	.info-bar li{
		display: block;
	}
	.info-bar li.gutter{
		margin-right: 0;
		margin-bottom: 20px;
	}
	.info-bar li span{
		display: none;
	}
	.info-bar .call{
		width: 24px;
		height: 24px;
		background: url(../img/icons-sprite.gif) left bottom no-repeat transparent;
	}
	.info-bar .visit{
		width: 22px;
		height: 25px;
		background: url(../img/icons-sprite.gif) -37px -26px no-repeat transparent;
	}
	ul->li.checksizes2{font-family:Arial; color:#3333px; font-size:15px;}
		.checksizes2{font-family:Arial; color:#3333px; font-size:15px;line-height: 1.3;}
	.checksizetitle{ font-family:Arial;color:#3333px; font-size:21px;}
	/*#apply .container img.img-responsive.apply-content{ width:479px !important;}*/
	.checksecond{ margin-top:10px; margin-right:10px;}

	/*19-06-2015 changes on the mobile image display*/
	.section-image {
	  height: auto!important;
	  width: 100%;
	}

	.section-image img{
	  position: relative;
	  width: 90%;
	  display: block;
	}

	.benefits h3 {
	  margin-top: 0;
	  margin-bottom: 30px;
	}

	
}
 @media (max-width: 480px) {
	 
	.mobile-logo {
		width: 100%;
	}
	p, ul, ul li, li {
		font-size: 15px;
		line-height: 1.3;
	}
	/*.circleBg {
		width: 190px;
		height: 190px;
	}
	.benefits {
		padding: 10px 0;
	}*/
	.content {
		top: 0;
		padding: 0 15px;
	}	
	#apply .copy {
		bottom: 90px;
	}
	#apply .copy p {
		font-size: 12px;
		line-height: 1.4;
	}
	.cc {
		width: 110px;
	}
	.benefits .col-lg-6 {
		height:400px;
	}

	/*.section-image {
	  height: auto!important;
	  width: 100%;
	  float: left;
	  overflow: hidden;
	  min-height: 350px;
	  margin-top:0!important;
	}*/
}
 @media (min-width: 768px) {
	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-wrapper .navbar {
		padding-right: 0;
		padding-left: 0;
	}

	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}
	#fakeLayer {
		top: 1px;
		left: 5px;
	}
	.benefits .col-lg-6 {
		margin-top: 0;
	}
	.benefits .content ul {
		margin-bottom: 20px;
	}
	.benefits .content {

	}
	.benefits .cardDisclaimer {
		bottom: 5px;
	}
	.benefits .col-lg-6 {
		margin-top:15px
	}
	.thirdbox {
		margin:0 30px
	}
	.online-second{ padding-top:5px;}
}
 @media (max-width: 480px) {
	#apply .container .row img.checkimg{ width: 50%!important; max-width:280px;}
	#apply .container img.img-responsive {
		width: 100%!important;
		max-width: 350px;
	}
	.online-second{ padding-top:5px;}
}